body
  background-color: hsl(0, 0%, 50%)
#loading
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  font-size: 10vmin
  user-select: none
  -moz-user-select: none
#wrapper
  display: grid
  width: 80vmin
  height: 60vmin
  position: fixed
  left: 50%
  top: 1vmin
  transform: translateX(-50%)
  grid-template-columns: 1fr 1fr
  grid-template-columns: 1fr 1fr
  grid-gap: 1vmin
  article.item
    background-color: hsl(30, 70%, 70%)
    font-size: 3.8vmin
    border-radius: 10px
    padding: 0.3em
    user-select: none
    -moz-user-select: none
    cursor: default
    transition: background-color 200ms
    &:hover
      background-color: hsl(30, 80%, 60%)
    input
      display: inline-block
      &.amount
        width: 2.5em
        height: 1.8em
        float: left
      &.buy
        float: right
        transform: scale(1.4)
        cursor: pointer
#paginator
  position: fixed
  top: 80vmin
  text-align: center
  width: 100%
  a, span
    margin: 0 1em
    padding: 0.3em 0.5em
    font-size: 1.4em
    font-weight: 900
    border-radius: 10px
  span
    background-color: hsl(180, 70%, 40%)
    color: hsl(0, 0%, 85%)
    cursor: default
    user-select: none
    -moz-user-select: none
  a
    outline: none
    background-color: hsl(0, 0%, 40%)
    transition: color 200ms
    color: hsl(0, 0%, 70%)
    &:hover
      color: hsl(0, 0%, 85%)
      background-color: hsl(0, 0%, 30%)
