<!DOCTYPE html>
<html>
  <head>
    <title>SpaShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="/main.js" defer></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
